.symptomsComponentStyle{
    margin-top: 10px;
    background-color: #ffffff !important;
    border-radius: 8px;    
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.symptomsTitle{
    font-family: 'Prompt',Georgia,  Times, serif;
    font-size: 2em;
    font-weight: bold;
}

.symptomsSubTitle{
    font-family: 'Prompt',Georgia,  Times, serif;
    font-size: 1em;
    padding: 5px;
    margin-top:5px;
    margin-bottom:5px;
}

.symptomsTablePercentage{
    width: 100%;
}

.symptomsColumn1{
    width: 60%;

}

.finalPercentage {
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.descriptionSymptoms{
    margin-top: 10px;
    margin-bottom: 10px;
}