.vaccineComponentStyle{
    margin-top: 10px;
    background-color: #ffffff !important;
    border-radius: 8px;    
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.vaccineTitle{    
    font-family: 'Prompt',Georgia,  Times, serif;
    font-size: 2em;
    font-weight: bold;
}

.vaccineSubTitle{    
    font-family: 'Prompt',Georgia,  Times, serif;
    font-size: 1em;
    padding: 5px;
    margin-top:5px;
    margin-bottom:5px;
}

.vaccineDescription{
margin-top: 10px;
margin-bottom: 10px;
text-align: left;
}

.vaccineLink{
    color: blue !important;
    font-weight: bold;
}

.vaccineTable{
    overflow: auto;
    display: block;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 15px;
}
