.headerStyle{
    height: 52px;
    background-color: #f0eefd; 
    border-radius: 8px;    
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.siteIdentity{
    text-align: left;
    font-size: 2em;
    font-family: 'Prompt', Georgia, Times, serif;
}

.headerTitle{
    font-weight: bold;
    color:#6236ff;
}

.logo{
    margin-right: 5px;
    width: 1.2em;
    height: 1.2em;
}

.menuStyle{
    text-align: center;
    font-size: 12px;
    padding-top: 0;
    margin-top: 0;
}

.navBarHeaderStyle{    
    cursor: pointer !important;
}
